  *{
      box-sizing: border-box;
      font-family: sans-serif;
      margin: 0;
    }
    main{
      width: 50%;
      margin: 5% auto;
      padding: 5%;
    }
    .onWin{
      background-color: green;
      color: white;
    }
    .onLose{
      background-color: red;
      color: white;
    }
